div {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);   
}

h1,
h2,
h3 {
    background-color: rgb(230, 91, 91);
}

ul {
    list-style-position: inside;
}

.img {
    width: 200px;
    height: auto;
}