div {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);   
}

h1,
h2,
h3 {
    background-color: rgb(229 112 105);
    display: inline-block;
}

ul {
    list-style-position: inside;
}

.img,
.porkchop,
.lasagna,
.lemon {
    width: 200px;
    height: auto;
}